PORT=5000

# Google Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Redis Configuration (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379

CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=ck-8MS6Wst7j2VuoVXAbAJuX5jcLo21K2vrq3ZgMK1FWYvK
CHROMA_TENANT=0d59f2f2-3122-4407-b10f-076b2471c986
CHROMA_DATABASE=Development


# Local Upload Directory (fallback for storing temporary files)
UPLOAD_DIR=./uploads
